*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
/* Homepage design start */
.menu-bar{
    padding:20px 30px;
    background-color: #df5168;
	min-height:60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-img img{
    width:100%;
    padding:0 20px;
}
.menu-list ul li{
	list-style-type:none;
	float:left;
}
.menu-list a{
	text-decoration:none;
	color:white;
	font-size:20px;
	margin:10px;
	padding:10px 15px;
	transition:1s;
	border-radius: 50px;
}
a:hover{
	background-color: #ffffff ;
	color:#df5168;
	transition:1s;
}
.header-wrap{
	background-image:url('../images/map.jpg');
	min-height:600px;
	background-repeat:no-repeat;
	background-size:cover;
    background-position: center;
	text-align:center;
    position:relative;
}
.heading{
    color:#fff;
	font-size:45px;
	padding-top:150px;
	font-weight:bold;
	width:40%;
	margin:0px auto;
    line-height: 60px;
}
.header-wrap p{
	color:#fff;
	font-size:24px;
    width:60%;
    margin:35px auto;
}
.header-wrap a{
	color:#fff;
	font-size:25px;
	padding: 12px 30px;
	background-color: #df5168;
	border-radius: 50px;
	transition:1s;
}
.header-wrap a:hover{
	background-color: #ffffff ;
	color:#df5168;
	transition:1s;
}
main{
	margin-top:70px;
}
.main-para-div{
    margin-bottom:40px;
}
.main-para-div h2{
	font-size:35px;
	text-align:center;
	color:#df5168;
    margin-bottom:20px;
}
.main-para-div p{
	font-size:20px;
	text-align:center;
    width:60%;
    margin:0px auto;
}
.course-div{
    display:flex;
    justify-content: center;
	margin-top:20px;
	padding:0px 10px;
	text-align:center;
}
.card{
	margin:8px 15px;
	padding:0px 5px;
	height:430px;
	width:31%;
	float:left;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(110,110,110,0.50); 
    box-shadow: 0px 0px 10px 0px rgba(110,110,110,0.50);
    transition: 1s;
}
.card:hover{
    box-shadow: none;
    transition: 1s;
}
.card img{
	margin-top:10px;
	margin-bottom:15px;
}
.card span{
	font-size:30px;
}
.card p{
	font-size:20px;
	text-align:center;
	padding:0px 15px;
    margin-top:20px;
}
footer{
    clear:both;
	background-color: #df5168;
	height:100px;
    margin-top:30px;
}
footer p{
	font-size:30px;
	text-align:center;
	color:white;
	padding-top:35px
}
/* Homepage design end */

/* about page design start */
.about-header-wrap{
	background-image:url('../images/background.jpg');
	height:600px;
	background-repeat:no-repeat;
	background-size:cover;
    background-position: center;
    padding-top: 20%;
}
.about-heading{
	height:150px;
	background:#d44485;
    position: relative;
}
.head-img{
    position: absolute;
    top:30%;
    left:40%;
    z-index: 10;
}
.about-heading h1{
    padding-top: 50px;
	text-align:center;
	font-size:45px;
	color:white;
}
.head-img img{
	-webkit-box-shadow: -9px 10px 6px 0px rgba(0,0,0,0.7); 
	box-shadow: -9px 10px 6px 0px rgba(0,0,0,0.7);
}
.main{
	height:350px;
	padding:20px;
	text-align:center;
}
.main h2{
	font-size:40px;
	color:#df5168;
	font-weight:bold;
    margin-bottom: 20px;
}
.about-body-text{
    margin-bottom:50px;
}
.main p{
	font-size:20px;
	width:80%;
	margin:20px auto;
}
.main a{
	font-size:20px;
	font-weight:bold;
	background-color:#df5168;
	text-decoration:none;
	color:#fff;
	padding:10px 20px;
    border-radius: 50px;
}
.main a:hover{
    background:transparent;
    border:2px solid #df5168;
    color:#df5168;
}














